# Python
__pycache__/
*.py[cod]
*.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs y temp
*.log
*.sqlite3
*.db

# Sistema
.DS_Store
Thumbs.db

# Distribución / packaging
dist/
build/
*.egg-info/
*.egg

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

